@page
@model RazorTutorial.Pages.Schedules.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
